*{
    margin: 0;
    padding: 0;
}
.heading{
    color: yellowgreen;
    font-style: unset;
}
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 40%;
    border: 3px solid white;
    border-radius: 200%;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.nav-list{
width: 50%;

display: flex;
align-items: center;
}

.nav-list li{
list-style: none;
padding: 26px 30px;
}

.nav-list li a{
text-decoration: none;
color: white;
}

.nav-list li a:hover{
    color: rgb(229, 255, 0);
    }

    .nav-list1{
        width: 50%;
        
        display: flex;
        align-items: center;
        }
        
        .nav-list1 li{
        list-style: none;
        padding: 26px 30px;
        }
        
        .nav-list1 li a{
        text-decoration: none;
        color: white;
        margin-left: -24%;
    font-size: 27px;
        }

        
        .nav-list1 li a:hover{
            color: rgb(38, 247, 6);
            }
.rightnav{
    
    width: 50%;
    text-align: right;
    margin-top: 3px;
    margin-right: 21px;
}

#search{
    padding: 3px;
    font-size: 102%;
    border: 3px solid;
    border-radius: 31px;
}

.background {
    background: rgba(0,0,0,0.7)url('../demoimages/demo3.jpg');
background-size: cover;
background-blend-mode: darken;
}

.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: serif;
    max-width: 50%;
    margin: auto;
}
.firstsection{
    height: 100vh;
}
.firsthalf{
    width: 80%;
    display: flex;
    justify-self: center;
    flex-direction: column;
    margin-top: 55px;
}
.secondhalf{
    width: 65%;
    margin-top: 48px;
    margin-left: 23px;
}
.secondhalf img{
    width: 168px;
    border: 1px solid whitesmoke;
    border-radius: 35%;
    margin-left: -9%;
    margin-top: -35%;
    margin-right: 143%;
}
.textbig{
    font-size: 245%;
    margin-left: -23%;
}
.textsmall{
    font-size: 107%;
    margin-left: -22%;
    margin-right: 4%;
}

element.style {
    padding: 9px 21px;
    margin: 5px;
    border: 2px solid white;
    border-radius: 46px;
    margin-left: -186px;
}

.buttons{
    margin-top: 18px;
    margin-left: -19%;
    display: table-row;
    justify-content: center;
    align-items: center;
    
}
.btn{
    padding: 9px;
    border: 2px solid white;
    margin: auto;
    border-radius: 64%;
    background: none;
    margin-left: -3%;
    margin-top: 9%;
    margin-right: 11%;
    color: white;
}

.btn:hover{
    padding: 9px;
    border: 2px solid white;
    margin: auto;
    border-radius: 64%;
    background: none;
    margin-left: -3%;
    margin-top: 9%;
    margin-right: 11%;
    color: rgb(252, 164, 1);
}

.btn-sn{
    padding: 9px;
    border: 2px solid black;
    border-radius: 48%;
    background: seagreen;
    font-family: fantasy;
    margin-left: 1%;
    margin-top: -1%;
    margin-right: 3%;
}

.btn-sn:hover{
    padding: 9px;
    border: 2px solid black;
    border-radius: 48%;
    background: rgb(214, 0, 0);
    font-family: fantasy;
    margin-left: 1%;
    margin-top: -1%;
    margin-right: 3%;
}
